<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:type" content="AlmondTua. Hello guys i'm Almond Rae Tuazon, Software Engineer and Full Stack Developer.">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Almond Rae Tuazon - Porfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	border-radius: .5rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	}
	.btn-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(89 110 121);
    --tw-text-opacity: 1;
    color: rgb(225 228 230 );
}
</style>
